<!-- MENU -->
<ion-menu contentId="main-content" side="start">

  <ion-header>
    <ion-toolbar color="primary">

      <ion-title>Attendance</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item routerLink="/home" routerDirection="root">
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item routerLink="/home/roles" (click)="navigateAndClose()">
        <ion-label>Roles</ion-label>
      </ion-item>

      <ion-item routerLink="/home/users" (click)="navigateAndClose()">
        <ion-label>Usuarios</ion-label>
      </ion-item>

      <ion-item routerLink="/home/visitors" (click)="navigateAndClose()">
        <ion-label>Visitantes</ion-label>
      </ion-item>

      <ion-item routerLink="/home/attendance" (click)="navigateAndClose()">
        <ion-label>Asistencias</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- CONTENIDO -->
<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar color="primary">

      <!-- BOTÓN HAMBURGUESA -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Dashboard</ion-title>

      <!-- ICONO USUARIO -->
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <router-outlet></router-outlet>
  </ion-content>

</div>